@tailwind base;
@tailwind components;
@tailwind utilities;

/* colgroup
#ff841f
#f70909d1 */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FF841F #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
  border: 1px solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 11px;
  background-color: #FF841F;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #F17D1D;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #C96818;
}



#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #0e0e1a,  #050a2a);
  box-shadow:1px 5px 30px 3px #10253bca;
	color: #FFF;
	height: 53px;
	padding-left: 18px;
	border-radius: 13px;
  margin-top: 30px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 53px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color:#ff841f ;
	background:#070e3b ;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 53px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 53px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#04041c;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}



body{
  background: linear-gradient(-45deg,#030315,#01030a,#010113,#010217);
  background-size: 400%,400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}



.hamburger-button {
  color: white;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
}


.nav-links {
  display: none;
  color: white;
  z-index: 10;
}
.nav-links a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: #111;
}



/* darkblue
#010216 */


.img1{
  background:linear-gradient(to bottom,#04083085,#010216) 50%, url(imgx.jpg);
  background-position: 35%;
  background-size: cover;

}

.img2{
  background:linear-gradient(to bottom,#040830c9,#010216) 50%, url(global-network-technology-icon-blue-gradient-background_53876-119509.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}



  .text{
        font-family: 'Righteous', cursive;
        font-size: 45px;
        padding: 10px;
      }
    
  .textZ{
        font-family: 'Righteous', cursive;
        font-size: 16px;
      }
    
  .textX{
        font-family: 'Righteous', cursive;
        font-size: 35px;
      }
    
  .text2{
        font-family: 'Righteous', cursive;
        font-size: 20px;
      }
    


  .text1{
        font-family: 'Pixelify Sans', sans-serif;
  }

  

.borderX{
    border: solid;
    border-style:solid;
    border-width: .5px;
    color: rgba(227, 81, 81, 0.292);
    border-radius: 10px;
    margin-bottom: 100px;
    
}

.services{
    letter-spacing: 8px;
}



.box_serviceX{
    background:  linear-gradient(to left, #04071e,#afaaaa1e);
    border: solid;
    border-color: #ffffff0e;
    border-width: .1px;
    border-radius: 20px;
}

.services_container{
    width:20rem;
    height: 24vh;
    border-radius: 10px;
    border-style: solid;
    border:solid;
    border-width:1px;
    border-image: linear-gradient(45deg,#f70909d1,#ff841f) 1;
}


.border_gradient2{
    max-width: 370px;
    margin: auto;
    color: #fff;
    padding: 1rem;
    border-width: 3px;
    border-style: solid;
    border-image:
     linear-gradient(to bottom,red,rgba(0,0,0,0))1  100%;
}



.gradient_color{
    background:linear-gradient(to right,#f70909d1,#ff841f);
    color:linear-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-webkit-background-clip: text;
    -moz-webkit-text-fill-color: transparent;

  }

  .gradient_colorX{
    background-color:linear-gradient(to right,#c33a17d1,#2c139e);

  }

  .gradient_colorY{
    background:linear-gradient(to right,#f70909d1,#ff841f);

  }

  .form-container {
    width: 310px;
    background: linear-gradient(#19191b, #17161c) padding-box,
                linear-gradient(145deg, transparent 35%,#f70909d1, rgb(255, 147, 31)) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }


  /* button */
  .btnA {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    width: 60%;
    margin: auto;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btnA:active {
    scale: 0.92;
  }
  
  .btnA:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, #ff841f,  #f70909d1 60%);
    color: rgb(4, 4, 38);
  }



  /* forms_styling */
  .orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color:  #4c4b58a8;
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #4c4b58a8;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color:  #4c4b58a8;
    color: #ff7a01;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #ff7a01;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #ff7a01;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff7a01;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ff7a01;
    color: #001925;
  }





  .containerX{
    width: 20rem;
    height: 47vh;

  }
  
  /* scroll_top*/
.top{
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 1;
  text-align: center;
  background-color: #04071e;
  color: #ff6a1f;
  cursor: pointer;
  padding: 5px;
  height: 2.6rem;
  width: 2.6rem;
  border-style: solid;
  border-radius: 8px;
  font-size: 20px;
 box-shadow: 0 0 5px #f0550858;

}

.imgx{
  background:linear-gradient(to bottom,rgba(12, 13, 33, 0.668),rgba(3, 12, 44, 0.488)), url(imgx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* fade_rule_styling */
.fade_rule{
  margin: 30px 0;
  height: 1px;
  border: none;
  background:-webkit-gradient(linear, 0 0,100% 0, from(transparent), to(transparent), color-stop(50%, #ff6a1f));
 
 


}  



/* glass */

/* From https://css.glass */
.glass{
    background:  rgba(255, 255, 255, 0.096);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.02);
}