@tailwind base;
@tailwind components;
@tailwind utilities;

/* colgroup
#ff841f
#f70909d1 */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
  background: linear-gradient(-45deg,#030315,#01030a,#010113,#010217);
  background-size: 400%,400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

/* darkblue
#010216 */


.img1{
  background:linear-gradient(to bottom,#040830cd,#010216) 50%, url(homeimg.jpg);
  background-position: center;
  background-size: cover;

}

.img2{
  background:linear-gradient(to bottom,#040830cd,#010216) 50%, url(/dist/homeimg.jpg);
  background-position: center;
  background-size: cover;

}



.btnX {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btnX:hover,:focus {
    color: #ffffff;
    background: #f00808;
    border: 1px solid #f00808;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #f00808,
                0 0 20px #f00808,
                0 0 50px #f00808,
                0 0 100px #f00808;
  }

  .text{
        font-family: 'Righteous', cursive;
        font-size: 45px;
        padding: 10px;
      }
    
  .textZ{
        font-family: 'Righteous', cursive;
        font-size: 16px;
      }
    
  .textX{
        font-family: 'Righteous', cursive;
        font-size: 35px;
      }
    
  .text2{
        font-family: 'Righteous', cursive;
        font-size: 20px;
      }
    


  .text1{
        font-family: 'Pixelify Sans', sans-serif;
  }

  

.borderX{
    border: solid;
    border-style:solid;
    border-width: .5px;
    color: rgba(227, 81, 81, 0.292);
    border-radius: 10px;
    margin-bottom: 100px;
    
}

.services{
    letter-spacing: 8px;
}



.box_serviceX{
    background:  linear-gradient(to left, #04071e,#afaaaa1e);
    border: solid;
    border-color: #ffffff0e;
    border-width: .1px;
    border-radius: 20px;
}

.services_container{
    width:20rem;
    height: 24vh;
    border-radius: 10px;
    border-style: solid;
    border:solid;
    border-width:1px;
    border-image: linear-gradient(45deg,#f70909d1,#ff841f) 1;
}


.border_gradient2{
    max-width: 370px;
    margin: auto;
    color: #fff;
    padding: 1rem;
    border-width: 3px;
    border-style: solid;
    border-image:
     linear-gradient(to bottom,red,rgba(0,0,0,0))1  100%;
}



.gradient_color{
    background:linear-gradient(to right,#f70909d1,#ff841f);
    color:linear-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-webkit-background-clip: text;
    -moz-webkit-text-fill-color: transparent;

  }

  .gradient_colorX{
    background-color:linear-gradient(to right,#c33a17d1,#2c139e);

  }

  .gradient_colorY{
    background:linear-gradient(to right,#f70909d1,#ff841f);

  }

  .form-container {
    width: 310px;
    background: linear-gradient(#19191b, #17161c) padding-box,
                linear-gradient(145deg, transparent 35%,#f70909d1, rgb(255, 147, 31)) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  .containerX{
    width: 20rem;
    height: 47vh;

  }
  
  /* scroll_top*/
.top{
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 1;
  text-align: center;
  background-color: #04071e;
  color: #ff6a1f;
  cursor: pointer;
  padding: 5px;
  height: 2.6rem;
  width: 2.6rem;
  border-style: solid;
  border-radius: 8px;
  font-size: 20px;
 box-shadow: 0 0 5px #f0550858;

}

.imgx{
  background:linear-gradient(to bottom,rgba(12, 13, 33, 0.668),rgba(3, 12, 44, 0.488)), url(imgx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  


  